@keyframes moveArrow {
    0% { transform: translateX(0px); }
    50% { transform: translateX(15px); }
    100% { transform: translateX(0px); }    
}

@keyframes moveArrowDown {
    0% { transform: translateY(0px); }
    50% { transform: translateY(15px); } 
}
  
  