/*

	Date: 29.10.2020
	Author: Jakub Štellner

*/

/* Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@media (max-width: 1200px) { }
@media (max-width: 991px) { }
@media (max-width: 776px) { }
@media (max-width: 567px) { }

/* GLOBAL */

body {
	font-family: 'Montserrat', sans-serif;
}
.no-bg {
	background: none!important;
}
:root {
	--primary: #0EAFD2;
	--grey: #7D878F;
	--openSans: 'Open Sans', sans-serif;
}
/* HEADER */
@media (min-width: 1300px) {
	.container {
	    max-width: 1200px;
	}
}
@media (min-width: 1400px) {
	.container {
	    max-width: 1300px;
	}
}
iframe { 
	max-width: 100%;
}
a, a:hover {
	color: var(--primary);
}
img {
	max-width: 100%;
}
.animated-icon1 {
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
.animated-icon1 span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	border-radius: 0px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.animated-icon1 span {
	background: white;
}
.first-button {
	border: none;
	outline: none!important;
	background: none;
}
.animated-icon1 span:nth-child(1) {
	top: 0px;
}

.animated-icon1 span:nth-child(2) {
	top: 10px;
}

.animated-icon1 span:nth-child(3) {
	top: 20px;
}

.animated-icon1.open span:nth-child(1) {
	top: 11px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

.animated-icon1.open span:nth-child(3) {
	top: 11px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}


.header {
	background: #1F2227;
	padding: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 555;
}
.header-content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.header ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
.header ul li a {
	color: #BCC2C5;
	letter-spacing: 1.2px;
	font-size: 15px;
	position: relative;
}
.header ul li a:hover {
	text-decoration: none;
	color: white;
}
.header ul li {
	padding: 0.25rem 0.75rem;
}
.header .socials {
	display: none
}
.header .socials a {
	margin: 0 0.5rem;
}
.homepage__slider {
	width: 100%;
	max-height: 100vh;
	overflow-y: hidden;
	position: relative;
}
.homepage__slider--item {
	position: relative;
	min-height: 500px;
	width: 100%;
	overflow: hidden;
}
.homepage__banner {
	height: 100vh;
	position: relative;
}
.homepage__slider--item .homepage__slider--image {	
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	min-height: 500px;
	animation: kenburns 35s infinite;
}
.homepage__slider {
	min-height: 500px;
}
.homepage__slider--text {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: fit-content;
	width: -moz-fit-content;
	transform: translateX(-50%);
	height: 100%;
	padding: 2rem ;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	z-index: 5;
	text-align: center;
}
.homepage__slider--text span {
	color: var(--primary);
	font-size: 16px;
	letter-spacing: 0.64px;
	font-weight: 400;
	text-transform: uppercase;
}
.homepage__slider--text p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 26px;
	color: white;
	letter-spacing: 0px;
	margin-bottom: 2rem;
}
.owl-dots {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 2rem;
}
.owl-dots .owl-dot {
	width: 20px;
	height: 3px;
	margin: 0.25rem;
	background: #E2E5E7;
	cursor: pointer;
}
.owl-dots .owl-dot.active {
	background: var(--primary);
}
.owl-carousel .homepage__slider--text img {
	width: unset!important;
}
.btn-default {
	background: var(--primary);
	color: white;
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 1.04px;
	text-transform: uppercase;
	padding: 0.6rem 1rem;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.5s all;
}
.btn-default:hover {
	padding: 0.75rem 1.25rem;
	color: white;
	text-decoration: none;

}
.arrow-scroll {
	cursor: pointer;
	animation: moveArrowDown 1.5s infinite;
}
.products {
	padding: 3rem 0;
	padding-top: 3rem;
	background: transparent linear-gradient(180deg, #E2E5E7 0%, #FEFEFE 100%) 0% 0% no-repeat padding-box;
}
.products-text {
	max-width: 900px;
	margin: auto;
}
.products-text p {
	text-align: center;
	font-size: 14px;
	font-family: var(--openSans);
	line-height: 22px;
}
.arrow-link {
	font-size: 13px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: .125em;
transition: linear 150ms transform;
}
.arrow-link::after {
	content: url(../icons/long-arrow-right.svg);
	margin-left: 1rem;

}
.arrow-link:hover {
	text-decoration: none;
	transform: scale(1.05);
}
.default-heading {
	text-align: center;
}
.default-heading.left {
	text-align: left;
}
.default-heading h2, .default-heading h1 {
	font-size: 32px;
	letter-spacing: 2.56px;
	color: #000000;
	font-family: var(--openSans);
	margin-top: 1rem;
	position: relative;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.default-heading h2::after, .default-heading h1::after {
	content: "";
	margin-top: 0.75rem;
	background: var(--primary);
	height: 3px;
	width: 100px;	
}

.product-item {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.product-item-text {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	flex-direction: column;
}
.product-item-bg {
	background: #BCC2C5;
	width: 100%;
}
.product-item-bg img {
	mix-blend-mode: multiply;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.product-item:hover {
	text-decoration: none;
}
.product-item span.title {
	font-size: 28px;
	font-family: var(--openSans);
	color: white;
	letter-spacing: 2.24px;
	text-transform: uppercase;
	mix-blend-mode: normal;
}
.product-item-text .arrow-link {
	color: white;
	margin-top: 0.5rem;
	font-weight: 400;
}
.default-heading.white h2, .default-heading.white h1 {
	color: white;
}
.solo-uno {
	min-height: 550px;
	width: 100%;
	display: flex;
	overflow: hidden;
	position: relative;
}
.solo-uno-image {
	animation: kenburnsSmallAlt 18s infinite;
	background: url(../images/solo-uno.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
}
.chess-image {
	animation: kenburnsSmall 30s infinite;
	background: url(../images/chess.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
}
.copyright {
	font-size: 14px;
	color: #E2E5E7;
	letter-spacing: 0.7px;
}
.homepage__banner .owl-nav {
	display: flex;
	justify-content: space-between;
	position: absolute;
	left: 0;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}
.footer-item-socials {
	display: flex;
	align-items: flex-end;
}
.footer-item .footer-item-socials h3 {
	margin: 0;
	padding: 0;
	margin-right: 1rem;
}
.footer-item .socials a {
	margin: 0 0.5rem;
}
.homepage__banner .owl-nav button {
	margin: 2rem;
	outline: none!important;
	border: none!important;
	background: none!important;
	display: block;
}
.homepage__banner .owl-nav button span {
	content: url(../icons/arrow-right.svg);
	margin-right: 2rem;
	display: block;
}
.homepage__banner .owl-nav button:first-child span {
	content: url(../icons/arrow-left.svg);
	margin-left: 2rem;
	display: block;
}
.solo-uno-content {
	position: relative;
	padding: 4rem 2rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	flex-direction: column;
	padding-bottom: 90px;
}
.default-heading.black-border h2::after {
	background: black;
}
.default-heading span {
	color: var(--primary);
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1.04px;
	text-transform: uppercase;
}
.solo-uno-content p {
	max-width: 360px;
	margin: 0 auto;
	font-family: var(--openSans);
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	color: white;
	margin-bottom: 2rem;
	letter-spacing: 0px;
}
.default-heading.left h2 {
	text-align: left;
	align-items: flex-start;
	justify-content: flex-start;
}
.chess {
	min-height: 550px;
	padding: 4rem 2rem;
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
}
.chess-item {
	background: #1e222a;
	padding: 3rem;
	position: relative;
}
.chess-item p {
	font-family: var(--openSans);
	font-weight: 300;
	font-size: 20px;
	text-align: left;
	color: white;
	margin-top: 2rem;
	margin-bottom: 2rem;
	letter-spacing: 0px;
}
.footer {
	padding: 3rem 0;
	background: black;
}
.footer-item {
	margin-bottom: 1.5rem;
}
.footer-item h3 {
	font-size: 18px;
	color: var(--primary);
	letter-spacing: 0.36px;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 1.5rem;
}
.footer-item ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer-item ul li {
	line-height: 1.8;
}
.footer-item ul li a {
	color: var(--grey);
}
.footer-text p {
	color: var(--grey);
	letter-spacing: 1.12px;
	font-size: 14px;
	font-family: var(--openSans);
}
.footer-text img {
	filter: invert(70%) sepia(14%) saturate(253%) hue-rotate(165deg) brightness(81%) contrast(90%);
}
.subpage {
	padding-top: 80px;
}
.contact {
	padding: 3rem 0;
}
.contact-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 4rem;
}
.contact-item-city {
	color: #8A959E;
	letter-spacing: 2.24px;
	font-size: 28px;
	font-family: var(--openSans);
	margin-bottom: 1rem;
}
.contact-item-name {
	font-family: var(--openSans);
	font-size: 18px;
	letter-spacing: 1.44px;
}
.contact-item-sound {
	color: var(--primary);
	letter-spacing: 1.04px;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}
.contact-item-content {
	margin-top: 1rem;
	font-family: var(--openSans);
	color: black;
	font-size: 14px;

}
.contact-item-sound::after {
	content: url(../icons/volume.svg);
	width: 16px;
	height: 13px;
	margin-left: 0.5rem;
	margin-bottom: 4px;
}
.products-category {
	display: flex;
	margin-top: 3rem;
	justify-content: space-around;
}
.products-category a {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.36px;
	color: black;
	display: flex;
	flex-direction: column;
}
.products-category a:hover {
	text-decoration: none;
}
.products-category a::after {
	content: '';
	width: 0;
	height: 2px;
	background: var(--primary);
	margin-top: 0.25rem;
	transition: 0.5s width;
}
.products-category a.active::after, .products-category a:hover::after {
	width: 100%;
}
.products-content {
	margin-top: 3rem;
}
.product-i {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 3rem;
	color: black;
	transition: linear .2s all;
}

.product-i:hover {
	text-decoration: none;
	transform: scale(1.1);
}
.product-i-image {
	width: 100%;
	height: 200px;
	padding: 0 1.5rem;
}
.product-i-image img {
	object-fit: contain;
	object-position: bottom;
	width: 100%;
	height: 100%;
}
.product-i-heading {
	font-size: 32px;
	font-family: var(--openSans);
	letter-spacing: 2.56px;
	color: black;
	margin-top: 1rem;
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.product-i-heading::after {
	content: '';
	width: 100px;
	height: 3px;
	background: var(--primary);
	margin-top: 1rem;
}
.product-i:hover .product-i-heading {
	color: var(--primary);
}
.product-i-desc {
	font-family: var(--openSans);
	font-size: 14px;
	margin-top: 1rem;
}
.subpage-banner {
	height: 445px;
	padding-bottom: 100px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.radio-bg {
	background: url(../images/radio-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.subpage-desc {
	text-align: center;
	margin-top: -75px;
	padding-top: 75px;
	background: white;
}
.subpage-desc p {
	max-width: 990px;
	margin: auto;
	font-family: var(--openSans);
	padding: 0 2rem;
}
.subpage-content {
	padding-bottom: 3rem;
}
.about {
	margin-top: 90px;
}
.about h2 {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.36px;
	color: black;
	text-transform: uppercase;
}
.about-item {
	position: relative;
	padding: 2rem 0;
}
.about-item::after {
	content: "";
	background: #E2E5E7;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 50%;
	z-index: -1;
}
.about-item:nth-child(even):after {
	left: unset;
	right: 0;
}
.about-item-text {
	display: flex;
	align-self: center;
	flex-direction: column;
}
.about-item-text p {
	font-size: 14px;
}
.about-item-text, .about-item-image {
	padding: 0 2rem;
}
.map-border iframe {
	border: 1px solid #707070;
}
.reproduktor-bg {
	background: url(../images/reproduktor.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.detail-image {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.detail-image-content {
	max-width: 80%;
	width: 100%;
	height: 350px;
	display: flex;
	align-items: center;
}
.detail-image-content img {
	object-fit: contain;
	object-position: center;
	width: unset!important;
	margin: 0 auto;
}
.detail-image-arrow {
	max-width: 10%;	
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.detail-content {
	padding: 60px 0;
}
.owl-carousel .detail-image-content img {
	width: unset;
}
.owl-dots {
	justify-content: center;
}
.rewards {
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
.right-detail, .left-detail {
	cursor: pointer;
}
.reward-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem 2rem;
}
.mt-40 {
	margin-top: 40px;
}
.reward-item::before {
	content: url(../icons/stats-awards.svg);
}
.reward-item .year {
	color: var(--primary);
	font-size: 32px;
	font-family: var(--openSans);
	font-weight: 600;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}
.reward-item .year::after {
	content: "";
	width: 80px;
	height: 3px;
	background: var(--primary);
	text-transform: uppercase;
}
.reward-item .name {
	color: black;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.36px;
	font-weight: 600;
} 
.reward-item-content {
	text-align: center;
	font-family: var(--openSans);
}
.download {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3rem 0;
	background: url(../images/phone-download.png) no-repeat bottom right var(--primary) ;
}
.download p {
	font-size: 20px;
	color: white;
	font-weight: 300;
	text-align: center;
}
.download-content {
	max-width: 730px;
	margin: auto;
}
.download-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.download-wrap-item {
	margin: 0.5rem;
}
.detail-heading {
	text-align: center;
}
.detail-heading-blue {
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 1.04px;
	color: var(--primary);
}
.detail-heading h1 {
	font-size: 32px;
	letter-spacing: 2.56px;
	font-weight: var(--openSans);
	font-weight: 600;
}
.detail-text-info p {
	font-family: var(--openSans);
	font-size: 14px;
	color: black;
}
.detail-text-info p.head {
	font-size: 18px;
}
.detail-text {
	margin-top: 3rem;
}
.detail-text-info {
	margin-top: 2rem;
}
.detail-meta ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.detail-meta ul li {
	padding: 0.75rem 0;
	border-bottom: 1px solid #C7CCD0;
	font-size: 14px;
	font-family: var(--openSans);
	letter-spacing: 0px;
}
.detail-meta ul li  { display: none; } /* Hide all */
.detail-meta ul li:nth-child(-n+5) { display: list-item; }
.detail-meta ul.active li {
	display: list-item;
}
.detail-meta ul li::before {
	content: "\2022";
	color: var(--primary);
	font-weight: bold;
	display: inline-block; 
	width: 2em;
	padding-left: -2em;
}
.detail-meta h3 {
	font-size: 18px;
	letter-spacing: 0.36px;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
}
.detail-meta h3::after {
	content: "";
	background: var(--primary);
	width: 100px;
	height: 3px;
	margin-top: 0.5rem;
}
.detail-h {
	display: flex;
	justify-content: center;
	position: relative;
}
.back-arrow {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 14px;
	color: black;
	font-family: var(--openSans);
	display: flex;
	align-items: center;
}
.back-arrow::before {
	content: url(../icons/arrow-left-blue-small.svg);
	margin-right: 1rem;
	display: flex;
	align-items: center;
	margin-top: 4px;
}
.back-arrow:hover {
	color: #8A959E;
	text-decoration: none;
}
.detail-meta-more-item {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.detail-meta-more-item span {
	margin-right: 1rem;
	padding: 1rem 0;
}
.detail-meta-more .detail-meta-more-less {
	display: none;
}
.detail-meta-more.active .detail-meta-more-more {
	display: none;
}
.detail-meta-more.active .detail-meta-more-less {
	display: flex;
}
.detail-meta-more-less img {
	transform: rotate(180deg);
}
.header-brand img {
	transition: 0.5s all;
}
.header-brand img:hover {
	transform: scale(1.1);
}
.product-item {
	transition: linear .2s all;
}
.products-an:hover .product-item {

	filter: blur(3px);
	opacity: .75;
	transform: scale(0.98);
	box-shadow: none;
}
.products-an .product-item:hover {
	transform: scale(1);
	filter: blur(0px);
	opacity: 1;
	box-shadow: 0 8px 20px 0px rgba(0,0,0,.125);
}
.product-item-text {
	transition: linear .2s all;
}
.product-item:hover .product-item-text {
	transform: scale(1.1);
}
@media (min-width: 1200px) {
	.homepage__slider--item .homepage__slider--image {
		height: 100vh;
	}
	.header-brand {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	.first-button {
		display: none;
	}
	.header-menu {
		display: block;
	}
	.header .socials {
		display: flex
	}
	.header {
		padding: 1.5rem 1rem;
	}
}
@media (max-width: 1200px) {
	.about-item {
		padding: 2rem 0;
	}
	.header-menu {
		display: none;
		transition: 1s height;
	}
	.header.open .header-menu {
		display: block;
		width: 100%;
		order: 5;
		padding-top: 1.5rem;
		opacity: 1;
		height: inherit;
	}
	.header.open .header-menu ul {
		flex-direction: column;
		align-items: center;
	}	
	.homepage__slider--item .homepage__slider--image, .homepage__slider--text, .homepage__banner {
		height: 700px;
	}
	.subpage {
		padding-top: 62px;
	}
} 

@media (max-width: 991px) {
	.homepage__slider--item .homepage__slider--image, .homepage__slider--text, .homepage__banner {
		height: 500px;
	}
	.product-item {
		margin-bottom: 2rem;
	}
	.subpage-banner {
		height: 200px;
	}
	.subpage-desc {
		margin-top: -35px;
		padding-top: 35px;
	}
	.about-item {
		padding: 0.5rem 0;
	}
	.about-item::after {
		display: none;
	}
	.about-item-image {
		margin: auto;
	}
	.contact-item {
		margin-bottom: 3rem;
	}
	
 } 
 @media (max-width: 767px) {
	.detail-image-content {
		height: 275px;
	}
	.back-arrow {
		position: unset;
		top: unset;
		right: unset;
		text-align: center;
		order: 1;
		display: flex;
		justify-content: center;
		margin-bottom: 2rem;
	}
	.detail-h {
		justify-content: center;
		flex-direction: column;
	}
	.detail-heading {
		order: 2;
	}
	.detail-content {
		padding: 3rem 0;
	}
} 
 @media (max-width: 567px) { 
	
 }